:root {
  --color__bg: white;
  --color__red: #f53b57;
}

.sidebar {
  width: 350px !important;
}

.sidebar blockquote {
  display: none;
}

#dashboard-container {
  padding-left: 350px !important;
}

/* Seiten ohne Sidebar */
.sidebar:has(~ #dashboard-container #section-conference-ranking.active), /* Conference Standing */
.sidebar:has(~ #dashboard-container #section-alle-matchups.active) /* Matchup History */{
  display: none;
}

#dashboard-container:has(#section-conference-ranking.active), /* Conference Standing */
#dashboard-container:has(#section-alle-matchups.active) /* Matchup History */ {
  padding-left: 0 !important;
}

#dashboard-container:has(#section-conference-ranking.active) .section /* Conference Standing */ {
  justify-content: center;
}

/* Power Ranking */
/* ELO */
/* Draft Reihenfolge */
.sidebar:has(~ #dashboard-container #section-power-ranking.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)),
.sidebar:has(~ #dashboard-container #section-elo-ranking.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)),
.sidebar:has(~ #dashboard-container #section-draft-reihenfolge.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-elo-ranking.active) blockquote:nth-of-type(1) {
  display: block;
}

/* Magic Number */
.sidebar:has(~ #dashboard-container #section-magic-number.active) .form-group:not(:has(#selectRflConference-label)):not(:has(#selectRflConferenceTeams-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-magic-number.active) blockquote:nth-of-type(4) {
  display: block;
}

/* Team WAR */
.sidebar:has(~ #dashboard-container #section-war.active) .form-group:not(:has(#selectRflGames-label)) {
  display: none;
}

/* IR Analyse */
.sidebar:has(~ #dashboard-container #section-ir-analyse.active) .form-group:not(:has(#selectRflTeams-label)) {
  display: none;
}

/* Team Punktehistorie */
.sidebar:has(~ #dashboard-container #section-punktehistorie.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)) {
  display: none;
}

/* Player WAR */
.sidebar:has(~ #dashboard-container #section-wins-above-replacement.active) .form-group:not(:has(#selectYears-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-wins-above-replacement.active) blockquote:nth-of-type(2) {
  display: block;
}

/* Player ELO */
.sidebar:has(~ #dashboard-container #section-elo.active) .form-group:not(:has(#selectPosition-label)):not(:has(#selectPlayers-label)):not(:has(#selectRflTeam-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-elo.active) blockquote:nth-of-type(3) {
  display: block;
}

/* Matchup Projections */
.sidebar:has(~ #dashboard-container #section-projections.active) .form-group:not(:has(#selectRflMatchup-label)) {
  display: none;
}

/* Matchup History */
#section-alle-matchups.active .dataTables_scrollBody {
  height: calc(100vh - 230px) !important;
}

/* Team Report */
.sidebar:has(~ #dashboard-container #section-team-report.active) .form-group:not(:has(#selectRflTeam-label)) {
  display: none;
}

/* Info für Teamsauswahl um Spieler vorzufiltern */
.sidebar form > p {
  display: none;

}

.sidebar p:has(small) {
  line-height: 1.2;
}

.sidebar:has(~ #dashboard-container #section-elo.active) .form-group:has(#selectPlayers-label) + p {
  display: block;
}

/* Player Awards */
#section-awards img {
  width: 100%;
}

/* Fehlermeldungen */
.shiny-output-error {
  color: var(--color__red) !important;
  background: var(--color__bg);
  padding: 1em;
  font-weight: bold;
}

/* Formulare */
.btn.dropdown-toggle {
  background: var(--color__bg);
}

/* Spinner Fix für Seiten mit gt
#dashboard-container:has(#section-conferences.active) .dashboard-row /* Conference Standing {
  display: block !important;
}*/

/* gt fixes */
[id*="_table"] > * {
  padding-top: 0 !important;
  padding-block: 0 !important;
}

/*.datatables.html-widget.html-widget-static-bound {
  height: auto !important;
}
.dataTables_scrollBody {
  height: unset !important;
}
.dataTable tbody td {white-space: pre-wrap;}
.dataTable tbody td::first-line { font-weight: bold; }
*/
