:root {
  --color__bg: white;
  --color__red: #f53b57;
}

.sidebar {
  width: 350px !important;
}

.sidebar blockquote {
  display: none;
}

#dashboard-container {
  padding-left: 350px !important;
}

/* Seiten ohne Sidebar */
.sidebar:has(~ #dashboard-container #section-alle-matchups.active) /* Matchup History */{
  display: none;
}

#dashboard-container:has(#section-alle-matchups.active) /* Matchup History */ {
  padding-left: 0 !important;
}

/* Conference Ranking */
/* Power Ranking */
/* ELO */
/* Draft Reihenfolge */
.sidebar:has(~ #dashboard-container #section-conference-ranking.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)),
.sidebar:has(~ #dashboard-container #section-power-ranking.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)),
.sidebar:has(~ #dashboard-container #section-elo-ranking.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)),
.sidebar:has(~ #dashboard-container #section-draft-reihenfolge.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-elo-ranking.active) blockquote:nth-of-type(1) {
  display: block;
}

/* Magic Number */
.sidebar:has(~ #dashboard-container #section-magic-number.active) .form-group:not(:has(#selectRflConference-label)):not(:has(#selectRflConferenceTeams-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-magic-number.active) blockquote:nth-of-type(4) {
  display: block;
}

/* Team WAR */
.sidebar:has(~ #dashboard-container #section-war.active) .form-group:not(:has(#selectRflGames-label)) {
  display: none;
}

/* Roster Depth */
/* IR Analyse */
.sidebar:has(~ #dashboard-container #section-roster-tiefe.active) .form-group:not(:has(#selectRflTeams-label)),
.sidebar:has(~ #dashboard-container #section-ir-analyse.active) .form-group:not(:has(#selectRflTeams-label)) {
  display: none;
}

/* Team Punktehistorie */
.sidebar:has(~ #dashboard-container #section-punktehistorie.active) .form-group:not(:has(#selectRflTeams-label)):not(:has(#selectRflDivisions-label)) {
  display: none;
}

/* Player WAR */
.sidebar:has(~ #dashboard-container #section-wins-above-replacement.active) .form-group:not(:has(#selectYears-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-wins-above-replacement.active) blockquote:nth-of-type(2) {
  display: block;
}

/* Player ELO */
.sidebar:has(~ #dashboard-container #section-elo.active) .form-group:not(:has(#selectPosition-label)):not(:has(#selectPlayers-label)):not(:has(#selectRflTeam-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-elo.active) blockquote:nth-of-type(3) {
  display: block;
}

/* Player Fantasy Finishes */
.sidebar:has(~ #dashboard-container #section-fantasy-finishes.active) .form-group:not(:has(#selectPositions-label)) {
  display: none;
}

/* Player Awards */
.sidebar:has(~ #dashboard-container #section-awards.active) .form-group:not(:has(#selectYear-label)) {
  display: none;
}

/* Matchup Projections */
.sidebar:has(~ #dashboard-container #section-projections.active) .form-group:not(:has(#selectRflMatchup-label)) {
  display: none;
}

/* Matchup History */
#section-alle-matchups.active .dataTables_scrollBody {
  height: calc(100vh - 230px) !important;
}

/* Team Report */
.sidebar:has(~ #dashboard-container #section-team-report.active) .form-group:not(:has(#selectRflTeam-label)) {
  display: none;
}

/* Info für Teamsauswahl um Spieler vorzufiltern */
.sidebar form > p {
  display: none;
}

.sidebar p:has(small) {
  line-height: 1.2;
}

.sidebar:has(~ #dashboard-container #section-elo.active) .form-group:has(#selectPlayers-label) + p {
  display: block;
}

/* Player Awards */
#section-awards img {
  width: 100%;
}

/* Trade Bait */
.sidebar:has(~ #dashboard-container #section-trade-bait.active) .form-group:not(:has(#selectPositions-label)):not(:has(#selectPlayers-label)) {
    display: none;
}

/* Trade history */
.sidebar:has(~ #dashboard-container #section-trade-history.active) .form-group:not(:has(#selectYears-label)):not(:has(#selectRflTeams-label)):not(:has(#selectPositions-label)):not(:has(#selectTradeAsset-label)) {
    display: none;
}

#section-trade-history.active .row:first-of-type .dataTable tbody td {white-space: pre-wrap;}
#section-trade-history.active .row:first-of-type .dataTable tbody td::first-line { font-weight: bold; }
#section-trade-history.active .dataTable td span { color: white; text-align: center; }

#section-trade-history [class*="col-"] { background: white; }

/* Draft Basics */
#section-draftklassen.active .chart-stage,
#section-basics.active .chart-wrapper {
  height: calc(100vh - 73px) !important;
  overflow-y: scroll !important;
}

.sidebar:has(~ #dashboard-container #section-basics.active) .form-group:not(:has(#selectYears-label)) {
  display: none;
}

#section-basics.active .chart-stage {
  overflow-y: scroll !important;
}

/* Draft Classes*/
#section-draftklassen.active .chart-wrapper-flex .chart-stage {
  overflow: unset !important;
}

.sidebar:has(~ #dashboard-container #section-draftklassen.active) .form-group:not(:has(#selectYears-label)):not(:has(#selectRflTeams-label)):not(:has(#selectPositions-label)):not(:has(#selectRflDivisions-label)):not(:has(#selectDraftRounds-label)) {
  display: none;
}

#section-draftklassen.active .gt_table td,
#section-draftklassen.active .dataTables_scroll td { white-space: pre-wrap; }

/* Draft Hit Rates */
.sidebar:has(~ #dashboard-container #section-hit-rates.active) .form-group:not(:has(#selectYears-label)):not(:has(#selectRflTeams-label)):not(:has(#selectPositions-label)):not(:has(#selectRflDivisions-label)):not(:has(#selectDraftRounds-label)) {
  display: none;
}

.sidebar:has(~ #dashboard-container #section-hit-rates.active) blockquote:nth-of-type(5) {
  display: block;
}

#section-hit-rates.active .gt_table td {
  vertical-align: top;
}

#section-hit-rates.active #team_hit_rates_table .rt-table .rt-thead .rt-tr:nth-child(2) .rt-th:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(7)):not(:nth-child(10)),
#section-hit-rates.active #team_hit_rates_table .rt-table .rt-tbody .rt-tr .rt-td:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(7)):not(:nth-child(10)) {
  width: 20px !important;
  min-width: 20px !important;
  flex: 20 0 auto !important;
}

#section-hit-rates.active #team_hit_rates_table .rt-table .rt-thead .rt-tr:nth-child(2) .rt-th:nth-child(1),
#section-hit-rates.active #team_hit_rates_table .rt-table .rt-tbody .rt-tr .rt-td:nth-child(1) {
  width: 80px !important;
  min-width: 80px !important;
  flex: 80 0 auto !important;
}

#section-hit-rates.active #team_hit_rates_table .rt-table .rt-tbody .rt-tr .rt-td { white-space: pre-wrap; }

/* Fehlermeldungen */
.shiny-output-error {
  color: var(--color__red) !important;
  background: var(--color__bg);
  padding: 1em;
  font-weight: bold;
}

/* Formulare */
.btn.dropdown-toggle {
  background: var(--color__bg);
}

/* Spinner Fix für Seiten mit gt
#dashboard-container:has(#section-conferences.active) .dashboard-row /* Conference Standing {
  display: block !important;
}*/

/* gt fixes */
[id*="_table"] > * {
  padding-top: 0 !important;
  padding-block: 0 !important;
}

.datatables.html-widget.html-widget-static-bound {
  height: auto !important;
}

.dataTables_scrollBody {
  height: unset !important;
}

.row + .row {
  margin-top: 1rem;
}
